@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
.btn-primary {
  background-color: #fcd12a;
  font-family: 'Cabin', sans-serif;
  border: none;
  border-radius: 0em;
}
.btn-primary a {
  color: #df2a02;
}
.btn-primary a:hover {
  color: #df2a02;
}
.btn-secondary {
  background-color: #df2a02;
  font-family: 'Cabin', sans-serif;
  border: none;
}
.btn-secondary a {
  color: #ffffff;
}
.btn-secondary a:hover {
  color: #ffffff;
}
h1 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  text-shadow: 0 0 3px #000000;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: #528020;
  font-size: 1.35em;
}
h3 {
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  color: #528020;
  font-size: 1.75em;
}
p {
  font-family: 'Cabin', sans-serif;
}
button {
  background-color: #fcd12a;
  font-family: 'Cabin', sans-serif;
  border: none;
  border-radius: 0em;
}
button a {
  color: #df2a02;
}
button a:hover {
  color: #df2a02;
}
section {
  /**images on menu page**/
}
section .row {
  display: table;
}
section .column-side {
  float: left;
  width: 22%;
  padding: 4%;
}
section .column-side img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border-style: solid;
  border-width: .15em;
  border-color: #528020;
}
section .column-middle {
  margin: 5%;
  padding-left: 10%;
  width: 75%;
}
section .column-middle img {
  max-width: 100%;
  height: auto;
  padding-left: 10%;
}
/**end of images on menu**/
section form {
  background-color: #528020;
  color: #ffffff;
}
section article button {
  background-color: #df2a02;
  font-family: 'Cabin', sans-serif;
  border: none;
}
section article button a {
  color: #ffffff;
}
section article button a:hover {
  color: #ffffff;
}
section .carousel-inner {
  background-color: #fcd12a;
  color: #000000;
}
section .carousel-inner p {
  color: #c21807;
  font-weight: bold;
}
footer {
  background-color: #c21807;
  color: #ffffff;
}
footer p {
  font-family: 'Cabin', sans-serif;
  font-size: .8em;
}
footer p a {
  color: #ffffff;
}
footer .d-block img {
  max-width: 35%;
  height: auto;
}
/**media query for wider screens**/
@media (min-width: 540px) {
  article h2 {
    font-size: 1.65em;
  }
  article h1 {
    font-size: 2.7em;
  }
  article h3 {
    font-size: 2em;
  }
  section .column-middle img {
    max-width: 65%;
    height: auto;
    align-items: center;
    padding-left: 0%;
  }
}
