@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
.btn-primary {
  background-color: #fcd12a;
  color: #000000;
  font-family: 'Cabin', sans-serif;
  border: none;
  border-radius: 0em;
}
.btn-secondary {
  background-color: #df2a02;
  color: #ffffff;
  font-family: 'Cabin', sans-serif;
  border: none;
}
h1 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  text-shadow: 0 0 3px #000000;
}
button {
  background-color: #fcd12a;
  color: #000000;
  font-family: 'Cabin', sans-serif;
  border: none;
  border-radius: 0em;
}
section article h2 {
  font-family: 'Montserrat', sans-serif;
  color: #528020;
  font-size: 1.35em;
}
section article p {
  font-family: 'Cabin', sans-serif;
}
section button {
  background-color: #df2a02;
  color: #ffffff;
  font-family: 'Cabin', sans-serif;
  border: none;
}
section form {
  background-color: #528020;
  color: #ffffff;
}
section form h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.35em;
}

/**images on menu page**/
.row {
    display: table;
}
.column-side {
    float: left;
    padding: 4%;
    width: 22%;

}
.column-side img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border-style: solid;
  border-width: .5em;
  border-color: #528020;
}

.column-middle {
  margin: 5%;  
  width: 75%;
}

.column-middle img {
  max-width: 50%;
  height: auto;
  align-items: center;
}

footer {
  background-color: #c21807;
  color: #ffffff;
}
footer p {
  font-family: 'Cabin', sans-serif;
  font-size: .8em;
}
footer p a {
  color: #ffffff;
}
