@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
.btn-primary {
  background-color: #fcd12a;
  font-family: 'Cabin', sans-serif;
  border: none;
  border-radius: 0em;
}
.btn-primary a {
  color: #000000;
}
.btn-primary a:hover {
  color: #df2a02;
}
.btn-secondary {
  background-color: #df2a02;
  font-family: 'Cabin', sans-serif;
  border: none;
}
.btn-secondary a {
  color: #ffffff;
}
.btn-secondary a:hover {
  color: #fcd12a;
}
