@import 'variables';
@import 'mixins';

h1 {
    color: @white;
    font-family: @montserrat;
    font-size: 2em;
    text-shadow: 0 0 3px @black;
}

button {
    .btn-primary();
}


section {
    
    article {
        h2 {
            font-family: @montserrat;
            color: @green;
            font-size: 1.35em;
        }
        h4 {
            font-family: @montserrat;
            color: @green;
            font-size: 1.75em;
        }  
        p {
            font-family: @cabin;
        }
    }

    button {
        .btn-secondary();
    }
}

section {
    form {
        background-color: @green;
        color: @white;

        h2 {
            font-family: @montserrat;
            font-size: 1.35em;
        }
    }
}

footer {
    background-color: @darkRed;
    color: @white;

    p {
        font-family: @cabin;
        font-size: .8em;

        a {
            color: @white;
        }
    }
}


