@import 'variables';
@import 'mixins';

h1 {
    color: @white;
    font-family: @montserrat;
    font-size: 2em;
    text-shadow: 0 0 3px @black;
}

h2 {
    font-family: @montserrat;
    color: @green;
    font-size: 1.35em;
}

h3 {
    font-family: @lobster;
    font-size: 1em;
}

h4 {
    font-family: @montserrat;
    color: @green;
    font-size: 1.75em;
}

p {
    font-family: @cabin;
}

button {
    .btn-primary();
}

button {
    .btn-secondary();
}

section {
    /**images on menu page**/
    .row {
        display: table;
    }
    .column-side {
        float: left;
        width: 22%;
        padding: 4%;
    }
    .column-side img {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
        border-style: solid;
        border-width: .15em;
        border-color: @green;
    }
    .column-middle {
        margin: 5%; 
        padding-left: 10%; 
        width: 75%;
    }
    .column-middle img {
        max-width: 100%;
        height: auto;
        padding-left: 10%;
    }
}
/**end of images on menu**/

section {
    form {
        background-color: @green;
        color: @white;
      }
}

section {
        
    .carousel-inner {
        background-color: @yellow;
        color: @black;

        p {
            color: @darkRed;
            font-weight: bold;
        }
    }

}

footer {
    background-color: @darkRed;
    color: @white;

    p {
        font-family: @cabin;
        font-size: .8em;

        a {
            color: @white;
        }
    }
}

/**media query for wider screens**/

@media (min-width: 540px) {
    article {
        h2 {
            font-size: 1.65em;
            }
        h1 {
            font-size: 2.7em;
            }
        h3 {
            font-size: 1.25em;
        }
    }

    section {
        .column-middle img {
            max-width: 65%;
            height: auto;
            align-items: center;
            padding-left: 0%;
        }
    }
}

